header {
    position    : fixed;
    top         : 0;
    text-align  : center;
    height      : 100px;
    width       : 100%;
    z-index     : 200;
}

header > img{
    height  : 100%;
    position: relative;
    z-index : 2;
}
